.navbar-inverse {
  background-color: #2eb6dd;
  border-color: #2eb6dd;
  border-radius: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    margin-right: 20px;
    /* Need to fix choppy font */
    font-family: Helvetica;
    font-weight: bold;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}
