---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- Image -->
    <div class="container-fluid home">
    	<div class="row">
    		<!-- ECE LOGO -->
    		<div class="col-md-6 home-logo">
    			<img src="/images/logo.svg" height="140px">
    		</div>
    		<!-- Title -->
    		<div class="col-md-6 home-title">
    			<h1>UNDERGRADUATE</h1>
    			<h1><b>STUDENT SOCIETY</b></h1>
    		</div>
    	</div>
    </div>

    <!-- News -->
    <div>
    	<h1>News</h1>
    </div>
    <!-- Timeline -->


    <!-- Swag -->


    {% include footer.html %}

  </body>

</html>
