---
---
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- Image -->
    <div id="home" class="container-fluid">
		<!-- ECESS Logo -->
    	<img class="img-responsive" src="/icons/ECESS_Full_Horizontal_White.png">
    </div>

    <!-- News -->
    <div>
    	<h1>News</h1>
    </div>
    <!-- Timeline -->
    <img src="/images/Timeline.jpg">

    <!-- Swag -->
    <div class="home-swag">
        <h1>Swag</h1><p>for your personal ECE collection</p>
    </div>

    {% include footer.html %}

  </body>

</html>
